a{
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
}

.container{
    max-height: 100%;
}
.container-children{
    height: 100%;
}

.colum-h{
    height: 100%;
}

div.row:hover>div.col{
    background-color: #6c757d;
    color: white;
    border-right: solid 1px white;
    cursor: pointer;
}

a:focus>div.row>div.col{
    background-color: black;
    color: white;
    border-right: solid 1px white;
}

.scroll-y{
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-y.detailfee{
    height: 35vh;
}

.scroll-y.registerfee{
    height: 43vh;
}

.bold-text{
    font-weight: bold;
}

div.row.focus{
    background-color: black;
    color: white;
    border-right: solid 1px white;
}

.fee{
    width: 20%;
}

@media (max-width: 992px) {
    .container-children {
        margin: 0 auto;
    }
    .container-children > div {
        border-left: none;
        border-bottom: solid 1px black;
    }
    .container-children > div:last-of-type {
        border-bottom: none;
    }
}
@media (min-width: 992px) {
    .container-children > div {
        border-left: solid 1px black;
    }
    .container-children > div:first-of-type {
        border-left: none;
    }
}